.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  height: 92px;
  border-color: #afb1b8;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  &:hover,
  &:focus {
    border-color: var(--acсent-color);
    fill: var(--acсent-color);
    outline: none;
  }
}
.client-list {
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.client-item {
  margin: 15px;
  width: calc((100% - 60px) / 2);

  @include tablet {
    width: calc((100% - 90px) / 3);
  }
  @include desktop {
    width: calc((100% - 180px) / 6);
  }
}
.client-title {
  @media screen and (max-width: 1200px) {
    font-size: 28px;
    line-height: 1.18;
  }
  @include font(36px, 1.17, 700, 0.03em);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
