.header-auth {
  display: none;
  @include tablet {
    display: block;
  }
  gap: 50px;
  margin-left: auto;
  align-items: center;
  @include desktop {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }
}

.header-contact {
  padding: 32px 0;
  @include tablet {
    @include font(12px, 1.16, 500, 0.02em);
    margin-bottom: 10px;
  }
  @include desktop {
    @include font(14px, 1.16, 500, 0.02em);
  }

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  &:hover,
  &:focus {
    color: var(--acсent-color);
    outline: none;
  }
}
.header-icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}
