.header-auth {
  // display: flex;
  display: none;
  gap: 50px;
  margin-left: auto;
  align-items: center;
}

.header-contact {
  @include font(14px, 1.14, 500, 0.02em);
  color: var(--title-text-color);
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  &:hover,
  &:focus {
    color: var(--ac—Åent-color);
    outline: none;
  }
}
.header-icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}
