.header-link {
  @include font(14px, 1.14, 500, 0.02em);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  &:hover,
  &:focus {
    color: var(--acсent-color);
    outline: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  & .header-item + .header-item {
    margin-left: 50px;
  }
}
.header-list {
  display: flex;
  margin-left: 93px;
  padding: 0;
}

.current {
  position: relative;
  color: var(--acсent-color);
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--acсent-color);
  }
}
.container-header {
  display: flex;
}
.header-logo {
  @include font(26px, 1.19, 700, 0.03em);
  color: #000000;
  font-family: "raleway";
  font-style: normal;
  text-decoration: none;
}

.header {
  align-items: center;
  border-bottom: 1px solid #ececec;
}
