.modal-text {
  @include font(14px, 1.17, null, 0.01em);
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  &:focus {
    border-color: var(--acсent-color);
  }
}
.check-text {
  @include font(14px, 1.71, null, 0.03em);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  margin-bottom: 0;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 7px;
    border: 2px solid #212121;
  }
  .modal-check:focus + &::before {
    border-color: var(--acсent-color);
    outline: none;
  }
  .modal-check:checked + &::before {
    background-color: var(--acсent-color);
    border: none;
    background-image: url(../images/Check.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
}
.check-link {
  @include font(14px, 1.71, null, 0.03em);
  display: flex;
  text-decoration-line: underline;
  color: var(--acсent-color);
}
