.modal {
  // width: 450px;
  // height: 609px;
  // @media screen and (max-width: 480px) {
  //   width: 100%;

  @include mobile {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }
  padding: 40px;
  // @media screen and (max-width: 768px) {
  //   width: 450px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 528px;
  //   height: 581px;
  // }
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  fill: #000000;
  outline: none;
}

.icon-logo {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  .modal-close:focus & {
    fill: var(--acсent-color);
  }
}
.modal-title {
  @include font(20px, 1.15, 700, 0.03em);
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form {
  @include font(12px, 1.67, null, 0.01em);
  color: #757575;
}
.modal-field {
  margin-bottom: 10px;
  & + .check {
    margin-bottom: 0;
  }
  & + .area {
    margin-bottom: 20px;
  }
}
.modal-lable {
  @include font(12px, 1.17, null, 0.01em);
  display: block;
  margin-bottom: 4px;
  color: #757575;
}
.input-wrap {
  position: relative;
}
.modal-input {
  @include font(12px, 1.16, null, 0.01em);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 30px;
  color: #757575;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: #757575;
  }
  &:focus {
    border-color: var(--acсent-color);
  }
}
.check-link {
  margin-bottom: 0;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  .modal-input:focus + & {
    fill: var(--acсent-color);
  }
}
