.picture-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  @include tablet {
    justify-content: start;
  }
}
.picture-item {
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.hidden-item {
  position: relative;
  overflow: hidden;
}
.hidden-text {
  @include font(18px, 1.56, null, 0.03em);
  position: absolute;
  top: 0pt;
  left: 0px;
  height: 100%;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.picture-title {
  @include font(18px, 2, 700, 0.06em);
  margin-bottom: 4px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.picture-text {
  @include font(16px, 1.88, null, 0.03em);
  color: var(--title-text-color);
  text-decoration: none;
}
.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  flex-grow: 1;
}
.picture-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  &:hover .hidden-text {
    transform: translateY(0%);
  }
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
