p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", "sans-serif";
  background-color: var(--primary-white-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
